.gradle
build
/gradle
/.classpath
/.project
/.settings
.idea
.java-version
.history/
*.iml
.gradletasknamecache
.build
conf/*
/conf/*
logs
/efs
.sdkmanrc
gradlew
bin/*
# eclipse gradle project
/build/
/settings/
/gradle/
/gradlew
/.project
/config.xar

*/out
out/*

# IntelliJ
out
