# gradle
/gradlew
gradle

# IntelliJ
.idea
.java-version
.history/
*.iml
.gradletasknamecache
.build
conf/*
/conf/*
logs
/efs
.sdkmanrc
gradlew
bin/*
*/out
out/*
out

# eclipse gradle project
build
settings
.gradle
.settings
.classpath
.project
config.xar

